@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

.body-container {
    height: auto;
    min-height: 600px;
}

.mail-img {
    width: 38px;
    position: relative;
    top: 6px;
    margin-right: 16px;
    margin-left: 9px;
}
.telegram-img {
    width: 59px;
    margin-right: 8px;
    position: relative;
    left: -1px;
    bottom: 2px;
}
.link-flex {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}
.col-12-link {
    color: black;
    background: none;
    font-size: 30px;
    margin-left: 350px;
}
.website_body .col-12-link a {
    display: inline-block;
    margin-top: 2px;
}

#r {
    border-bottom: 2px solid rgba(137, 43, 226, 0.397);
}

.row #user {
    height: 200px;
}
.website_body h1 {
font-size: 26px;
    font-weight: 600;
    color: white;
    background: black;
    border-radius: 3px;
    padding: 4px 0 4px 15px;
    /* margin-top: 5px; */
    /* margin-bottom: 20px; */
    /* opacity: 0.8; */
width: 265px;
    position: relative;
    top: 25px;
}
.alert-success {

 width: 290px;

}
.row #user label {
    height: 100px;
    width: 480px;
    font-size: 18px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}
.row #user label input {
    background: #43bee4;
    border: none;
    border-bottom: 2px solid linear-gradient(90deg, #43bee4 0%, #fff 98.48%);
    outline: none;
    border-radius: 5px;
    padding: 3px;
    width: 300px;
    color: #fff;
}

.row #user #submitbutton {
    height: 40px;
    font-size: 25px;
    width: 200px;
    background: #43bee4;

    padding: 0;
    color: white;

    border: none;
    transition: color 500ms ease;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-left: 50px;
}
.row #user #submitbutton:hover {
    opacity: 1;
}

.website_body label {
    display: block;
    margin-bottom: 0.5rem;
    width: 50%;
}
.website_body form label input {
}

.website_body .btn-success,
.website_body input[type="submit"] {
    padding: 7px;
    border-radius: 16px;
    background: black;

    border: none;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 22px;
    font-family: system-ui;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success:hover {
    opacity: 1;
}
/*.website_body button,.website_body input {*/
/*    overflow: visible;*/
/*    float: right;*/
/*    position: relative;*/
/*    right: 50%;*/
/*}*/

html,
body {
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Roboto Mono', monospace;
    /* font-family: "Ubuntu", sans-serif; */
    /* font-family: 'Lora', serif; */
    /* font-family: 'Source Code Pro', monospace; */
    font-weight: 600;
    background: white;
    overflow: auto;
    font-weight: 600;
    font-size: 16px;
}
.container {
    width: 85%;
    margin: 0 auto;

    padding: 10px;
}
.container-flex {
    display: flex;

    width: 85%;
    margin: 0 auto;

    padding: 10px;
}
.container-flex .figure-img {
    margin-right: 20px;
}
.container-flex .col-12 {
    margin-top: 20px;
}

.header-nav {
    padding-top: 20px;
    /* font-family: 'Griffy'; */
  
       font-family: "Montserrat", sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: "Ubuntu", sans-serif; */
    /* font-family: 'Lora', serif; */
    /* font-family: 'Source Code Pro', monospace; */
    color: black;
}
.logo {
    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 70px;
}
a {
    color: black;
    padding: 0;
}

.rounded {
    width: 550px;
}
.figure-caption {
    font-size: 1.25rem;
    font-weight: 300;
}
.col-12 {
    font-size: 20px;
    font-weight: 500;

    padding: 2px;
}

.col-12 a {
}

#project_report {
    display: none;
}
.website_body a {
    display: block;
    margin: 20px;
    font-size:25px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding: 0;
    font-size: 30px;
    line-height: 65px;
    /* color: white; */
    transition: transform 500ms black;
    font-weight: 400;
}
.nav {
    width: 100%;
}
.navbar-nav > li :hover {
    scale: 1.1;
    font-weight: 800;
    text-decoration: none;
    color:black;
}

.panel-title {
    font-size: 25px;
    font-weight: 600;
    opacity: 0.9;
    margin-top: 20px;
    background: white;
    display: block;
    padding: 3px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #43bee4;
}

.img-fluid {
    width: 100%;
    margin-bottom: 30px;
}

.mini-img {
    width: 20%;
    height: 30%;
    margin-top: 12px;
}
.figure {
    background-color: #43bee4;
    color: white;
    padding: 40px;
    border-radius: 30px;
}
.figure-caption {
    font-size: 25px;
    font-weight: 700;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.figure-caption b {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

@media (max-width: 500px) {
    .mini-img {
        width: 5%;
        height: 30%;
        margin-top: 50px;
    }
}

/* .font-fifty {font-size: 50px;}

    .rounded {
        width: 100%;
    }


    .col-12 {
        font-size: 50px;
        color: black;
        word-break: normal;
    }
    .figure {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin: 25px;
        font-size: 50px;

    }
    .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-size: 50px;
    }

    .container form label span {
        font-size: 50px;
        width: 49%;
    }
    .container form label input {
        font-size: 50px;
        width: 100%;
        height: 107px;
        border: 1px solid;
    }
    .container form label {
        margin-top: 25px;
        font-size: 50px;
    }
    .website_body a {
        font-size: 50px;
        display: block;
        margin-top: 10px;
    }
    .website_body h1 {
        font-size: 60px;
    }
} */
#auth_form {
margin:15px;
}
#auth_form input {
margin-top: 25px;
}
#auth_form input[type=submit] {
color:white;
}
#register_form {
margin:15px;

}
#register_form input {
margin-top:25px;
}
#register_form input[type=submit] {
color:white;
}
#restore_form {
margin:15px;
}
#restore_form input {
margin-top:25px;
}
#restore_form input[type=submit] {
color:white;
}
#reset_form {
margin:15px;
}
#reset_form input {
margin-top:25px;
}
#reset_form input[type=submit] {
color:white;
}
.navbar-nav>li {
 float: none; 
}
