.navbar-header {
    width:25%;
}
.navbar-collapse {
    width: 70%;
}
.navbar-header , .navbar-collapse{
    display: inline-block;
    vertical-align: top;

}
.navbar-brand img {
    width: 150px;

}
.navbar-collapse ul li {
    display: inline-block;
}

