.website_body label
{
    display: block;
    margin-bottom: 0.5rem;
    width: 50%;
}
.website_body form label input {
float: right;
}



.website_body .btn-success ,.website_body input[type=submit]{
    float: left;
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
/*.website_body button,.website_body input {*/
/*    overflow: visible;*/
/*    float: right;*/
/*    position: relative;*/
/*    right: 50%;*/
/*}*/

html, body {
    overflow: auto;
    font-family: "Roboto";
    font-weight: 500;
    background: white;
}
.logo {

    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
}
a {
    color: black;
}
.rounded {
    width: 550px;
 }
.figure-caption {
    font-size: 1.25rem;
    font-weight: 300;
}
.col-12 {
    font-size: 25px;
}
#project_report {
    display: none;
}
.website_body a {
    display: block;
    margin-top: 10px;
}
@media screen and (max-width: 1200px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 45px;
    }
    header {
        height: 345px;
    }
    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 50px;
    }

    .font-fifty {font-size: 50px;}
    .figure-caption {
        font-size: 50px;
        width: 80%;
        font-weight: 300;
        font-size: 50px;
        word-break: break-word;
    }
    .rounded {
        width: 100%;
    }
    .panel-title {
        font-size: 50px;
        font-weight: bold;
    }
    .website_body .btn-success ,.website_body input[type=submit]{
        font-size: 50px;
        margin: 15px;

    }
    .col-12 {
        font-size: 50px;
        color: black;
        word-break: normal;
    }
    .figure {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin: 25px;
        font-size: 50px;

    }
    .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-size: 50px;
    }

    .container form label span {
        font-size: 50px;
        width: 49%;
    }
    .container form label input {
        font-size: 50px;
        width: 100%;
        height: 107px;
        border: 1px solid;
    }
    .container form label {
        margin-top: 25px;
        font-size: 50px;
    }
    .website_body a {
        font-size: 50px;
        display: block;
        margin-top: 10px;
    }
    .website_body h1 {
        font-size: 60px;
    }
}
header {

}
@media (min-width: 768px) {
    .navbar-nav > li > a  {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 60px;
        line-height: 65px;
    }
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    color: inherit;
}


